@tailwind base;
@tailwind components;
@tailwind utilities;

.selected .building-node {
  border-color: #39e239 !important;
}
.selected .resource-node {
  border-color: #39e239 !important;
}
.selected .react-flow__edge-path {
  stroke: #39e239 !important;
  stroke-width: 15 !important;
}
